<div class="container" *ngIf="rates">
  <h1>Currency Converter</h1>
  <input type="number" placeholder="amount" [(ngModel)]="amount">

  <label>From: </label> <span>{{from}}</span>&nbsp;&nbsp;

  <select [(ngModel)]="from" (change)="loadRates()">
    <option *ngFor="let c of getAllCurrencies()" [value]="c">{{c}}</option>
  </select>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label>To: </label> <span>{{to}}</span>&nbsp;&nbsp;
  <select [(ngModel)]="to">
    <option *ngFor="let c of getAllCurrencies()" [value]="c">{{c}}</option>
  </select>

  <br>
  <b [style.color]="amount < 0 ? 'red' : ''">{{amount}} {{from}} = {{convert()}} {{to}}</b>
</div>
